@import url(reset.css);
@import url(common.css);

.sortableWarpper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div.frame {
    width: 100px;
    height: 100px;
}

div.parent-node_box-3 {
    display: flex;
}

div.parent-node_box-1,
div.parent-node_box-2,
div.parent-node_box-3 {
    border: 1px solid rebeccapurple;
}

